<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Add part</h1>

<form method="POST" action="/edit_db/cars/result?id=$car_id">
    <input type="text" name="add_part_code" placeholder="Code">
    <input type="text" name="add_category" placeholder="Category">
    <input type="text" name="add_name" placeholder="Name">
    <input type="number" name="add_price" placeholder="Price">
    <input type="submit" value="add part">
</form>
<br>
<a href="/edit_db/cars" title="Back">Back</a>
<br>

</body>
</html>